.player_card_name {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(231, 231, 231, 0.47);
}

.page{
    padding: 1rem;

}
.profile_page{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
.player_card_biography {
    border-radius: 0.4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(231, 231, 231, 0.47);

}

.container{
    display: flex;
    flex-direction: row;
}

.favourite_container{
    width: 50%;
    justify-content: center;
}
.other_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other_title {
    margin-top: 4rem;
    margin-left: 2rem;
    padding-left: 1.5rem;
}