.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.inputTextGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
    width: 75%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}