.buttonPrimary {
    border: 1px #5F0099 solid;
    background-color: #5F0099;
    color: white;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    transition-duration: 0.5s;
}

.buttonPrimary:hover{
    border: 1px rgba(95, 0, 153, 0.1) solid;
    background-color: rgba(	95, 0, 153, 0.1);
    color: #5F0099;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    transition-duration: 0.5s;
}

.buttonOutline {
    border: 1px #5F0099 solid;
    background-color: white;
    color: #5F0099;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    transition-duration: 0.5s;
}

.textPrimary {
    color: #5F0099;
    margin: 0.5rem 1rem;
}