.logout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    color: #FF0000;
    font-weight: 500;
}


.logout:hover {
    font-weight: 700;
    transition: font-weight 0.2s ease-in-out;
    cursor: pointer;
}