.title {
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 5rem;
    background-color: white;
    width: 35%;
    padding: 2rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 950px) {
    .card {
        margin-top: 5rem;
        background-color: white;
        width: 80%;
        padding: 2rem;
        border-radius: 0.5rem;
    }
}