@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(115, 84, 128);
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
}

.card {
    background-color: white;
    width: 90%;
    padding: 2rem;
    border-radius: 0.5rem;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-width: 1px;
    width: 100%;
    border-radius: 0.5rem;
}

legend {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #5F0099;
}

