.navbar{
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    position: absolute;
    top: 12px;
}

.tabs {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
